 .quote>div {
    font-size: 32px;
    line-height: 38px;
     margin: 50px auto 0px;
     font-family: Open Sans;
     font-style: italic;
     color: #555555;
     padding: 1.2em 30px 1.2em 35px;
     border-left: 8px solid #7c6060;
     position: relative;
     background: #EDEDED;
 }

 .quote>div:before {
     font-family: Arial;
     content: '\201C';
     color: #7c6060;
     font-size: 4em;
     position: absolute;
     left: -10px;
     top: -10px;
 }

 .quote>div:after {
     content: '';
 }

 @media (min-width: 600px) {
    .quote>div {
        font-size: 1.4em;
        line-height: 1.6;
        padding-left: 75px;
        margin-bottom: 50px;
    }
    .quote>div:before {
        left: 10px;
    }
}
